/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #CCCCCC;
    background-color: #333333;
    width: 1024px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.header_underline {
    border-bottom: 1px solid #ffffff;
    font-weight: lighter;
    padding: 0 0 15px 0;
}

.fab-loading-div {
    background-color: #2d3337;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    z-index: 99999;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

.btn {
    border-radius: 0;
}

.btn-group {
    width: 100%;
}

.btn-group .product_dropdown {
    width: 100%;
}

.no-padding {
    padding: 0;
}

div.home-img {
    height: 100%;
    width: 100%;
    background-image: url("static/images/assets/home.png");
}

div.home-img a.money-link {
    display:block; position:absolute; 
    top:0; left:0; width:512px; height:768px;
}
div.home-img a.money-link:active {
    background-color: black;
    opacity: 0.1;
}

div.home-img a.art-link {
    display:block; position:absolute; 
    top:0; left:512px; width:512px; height:768px;
}
div.home-img a.art-link:active {
    background-color: black;
    opacity: 0.1;
}


/* Sidebar navigation */
.nav-sidebar {
    margin-bottom: 20px;
}
.navbar li, .nav-sidebar li {
    border-bottom: 1px solid #313742;
}
.nav-sidebar li:first-child {
    border-top: 1px solid #313742;
}
.nav-sidebar > li > a {
    color: #EFEFEF;
    font-size: 12px;
    padding-right: 12px;
    padding-left: 12px;
    font-weight:lighter;
    line-height: 25px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #272C35;
}
.nav-sidebar > li > a > img {
    margin-right: 5px;
}

.nav-sidebar li.active.nav-money a, .nav-sidebar li.nav-money a:hover{
    background-color: #9ac93d;
}
.nav-sidebar li.active.nav-art a, .nav-sidebar li.nav-art a:hover{
    background-color: #1ea7a9;
}
.nav-sidebar li.nav-art-sub a{
    background-color: #057272;
}

.nav-sidebar li.active.nav-art-sub a{
    border-right: 5px solid #1ea7a9;
}

.nav-art-sub a{
    border-top: 1px solid black;
}
.nav-art-sub a span {
    color: #ffffff !important;
}
.nav-sidebar li.active.nav-knowledge a, .nav-sidebar li.nav-knowledge a:hover{
    background-color: #1f73a9;
}
.nav-sidebar li.active.nav-profile a, .nav-sidebar li.nav-profile a:hover{
    background-color: #e44c2c;
}

.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

.fab-home {
    text-align: center;
    padding: 20px;
}

.panel {
    min-height: 150px;
    border-radius: 0;
    background-color: #333333;
    margin-bottom: 15px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.lp-widget-filter {
    margin-right: 45px;
    border-left: 1px solid #2F373B;
    padding: 0 30px;
    font-size: 14px;
    background-color: #2d323b;
}

.with-close-btn .lp-widget-filter {
    margin-right: 80px;
}

.lp-widget-controls {
    line-height: 0;
    position: absolute;
    right: 0;
}
.lp-widget-controls .dropdown-toggle {
    margin-bottom: 0px;
}

.panel.panel-chrome-default .lp-widget-controls {
    height: 45px !important;
}

.fab-widget-chrome .lp-widget-controls {
    width: 45px;
    height: 100%;
    border-left: 1px solid #2F373B;
}
.fab-widget-chrome .lp-widget-controls .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    background: #fff;
    margin: 5px 0;
}

.fab-widget-chrome.with-close-btn .lp-widget-controls {
    margin-right: 45px;
}

.fab-widget-chrome .panel.panel-chrome-default > .panel-heading {
    background-color: #4D5357;
    border-bottom: 1px solid #2F373B;
    color: #fff;
    position: relative;
    overflow: visible;
}
.fab-widget-chrome .btn-default:hover, .fab-widget-chrome .btn-default:focus, .fab-widget-chrome .btn-default:active, .fab-widget-chrome .btn-default.active, .fab-widget-chrome .open .dropdown-toggle.btn-default, .fab-widget-chrome .lp-widget-controls .btn, .fab-widget-chrome .lp-widget-controls .btn:active {
    width: 100%;
    height: 42px;
    background: #4D5357;
    border: none;
    margin-top: -4px;
}
.fab-widget-chrome .panel.panel-chrome-default .panel-title {
    color: #fff;
    padding: 0 10px;
}
.card-title {
    font-size: 18px;
    font-weight: lighter;
}

.fa-info-circle {
    color: #bbbbbb;
    font-size: 16px;
}


.panel-default > .panel-heading {
    background-color: #FFFFFF;
}

.table > tbody > tr > td {
    padding: 12px 15px;
    border-top: 1px solid #303030;
}

#tx-content > tbody > tr > td {
    /*padding: 9px 15px;*/
    height: 59px;
    border-top: 1px solid #303030;
}

#tx-content-social > tbody > tr > td {
    /*padding: 9px 15px;*/
    font-size: 12px;
    border-top: 1px solid #303030;
}

.fab-widget-chrome .table {
    margin-bottom: 0px;
}
.fab-widget-chrome .table > tbody > tr > td >img {
    margin-right: 10px;
}


/*
 * Main content
 */

.main {
    padding: 0px;
}
@media (min-width: 768px) {
    .main {
        padding: 0px;
    }
}
.main .page-header {
    margin-top: 0;
}

.welcome-div {
    float: left;
    margin-left: 10px;
}

.welcome-div p{
    margin-bottom: 5px;
    font-size: 18px;
}

.welcome-div span{
    font-size: 13px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 33px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.contact-wraper img {
    width: 205px;
}

.move-content .contact-wraper img {
    width: 195px;
}

.fab-widget-chrome .panel-body {
    height: 323px;
    padding: 7px;
    position: relative;
}
.fab-widget-chrome.col-sm-6 .panel-body {
    height: 333px;
}
.fab-widget-chrome .panel-body-high {
    height: 340px;
}
.fab-widget-chrome .panel-body-mini {
    padding: 10px;
    line-height: 115px !important;
    vertical-align: middle;
    height: 115px !important;
}
.fab-widget-chrome .panel-body.no-heading {
    height: 350px;
}
.fab-widget-chrome img.img-inline {
    margin-top: -6px;
    margin-right: 7px;
}

.panel-body .widget-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -1px;
    margin-right: -1px;
    width: inherit;
    z-index: 100;
}

.dropdown-menu {
    font-size: 14px;
    padding: 0;
    margin-top: -1px;
    background-color: #282d36;
    border: none;
}


.panel-body .widget-dropdown .dropdown-menu li + li {
    margin-top: 0px;
}
.dropdown-menu li a {
    color: #FFFFFF;
    font-weight: lighter;
    padding: 10px 20px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #282d36;
    background-color: #FFFFFF;
}

.dropdown-menu li a img{
    margin-right: 6px;
}

.panel-body .widget-dropdown .dropdown-toggle {
    width: 45px;
    padding-top: 0;
    padding-bottom: 0;
    height: 35px;
}

a.no-link-style {
    color: inherit;
}

.main-menu {
    left: 0;
    width: 157px;
    height: 768px;
    position: fixed;
    z-index: 500;
    background-color: #181b20;
}
.second-menu {
    left: 0;
    width: 57px;
    height: 768px;
    position: fixed;
    z-index: 500;
    background-color: #181b20;
}

.content-wraper {
    left: 0;
    margin-left: 156px;
    height: 768px;
    overflow: auto;
    background-color: #2d3337;
    -webkit-overflow-scrolling: touch;
}

.content-wraper-home{
    left: 0;
    height: 768px;
    overflow: auto;
    background-color: #2d3337;
    -webkit-overflow-scrolling: touch;
}

.content-wraper-sub {
    left: 0;
    margin-left: 49px;
}


.well {
    background-color: #EAEAEA;
}

.well .col-sm-4{
    height: 205px;
}

.well .col-sm-4 + .col-sm-4 {
    border-left: 1px solid #DDDDDD;
}

.well .table {
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 0;
}

.panel-setting {
    display: none;
    height: 156px;
    background-color: #333333;
    color: #efefef;
}


ul {
    padding-left: 0;
}

ul li{
    list-style: none;
}

.account-footer{
    border-top: 1px solid #303030;
}

.account-footer p{
    padding: 10px 0 0 0;
    border-right: 1px solid #303030;
}

.account-footer .btn-default {
    background: transparent;
    border: none;
    padding: 10px;
    color: #FFF;
}

.account-footer .btn-default:hover {
    background: transparent;
    border: none;
    padding: 10px;
    color: #ccc;
}

.account-footer .btn-default:active {
    background: transparent;
    border: none;
    padding: 10px;
    color: #ccc;
}

.panel-body ul li + li{
    margin-top: 30px;
}

.offers_wraper .panel-body ul li span{
    color: #999;
}

.reward {
    font-size: 22px;
    color: #ECAC03;
    font-weight: normal;
    float: right;
}

.reward-notes {
    float: left;
    font-size: 12px;
    margin-top: 10px;
}

.add_new_widget {
    text-align: center;
    vertical-align: middle;
}

.add_new_widget .glyphicon {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    font-size: 32px;
    margin-left: -15px;
    margin-top: -20px;
    color: #999;
}

.last_visit {
    color: #999;
}

.link_row {
    margin-top:  5px;
}
.link_row .btn{
    margin-left: 15px;
}

.label1, .label2, .label3, .label4, .label5 {
    width: 8px;
    height: 14px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
.label1{
    background-color: #215BA7;
}
.label2{
    background-color: #ECAC03;
}
.label3{
    background-color: #BC2527;
}
.label4{
    background-color: #E5540F;
}
.label5{
    background-color: #D8D8D8;
}
.label.label-default {
    background-color: #AAAAAA;
    font-weight: normal;
}


textarea{resize:none}

.project-desc {
    margin: 8px auto;
    padding: 0 10px;
}

.project-desc-title{
    font-size: 16px;
}
.panel-body.no-padding {
    padding: 0;
}
.contact-wraper {
    position: relative;
    cursor: pointer;
}
.contact-label {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}
.contact-label .col-sm-6, .contact-label .col-sm-12{
    padding: 6px;
    color: #FFFFFF;
}
.contact-wraper .contact-name, .contact-wraper .label-name, .label-name{
    padding: 5px 7px;
    background-color: #111111;
}
.label-name {
    color: #fefefe;
    float: right;
    padding: 6px;
}
.contact-wraper .recent-tx-amount.income{
    background-color: #9ac93d;
}
.contact-wraper .recent-tx-amount.spending{
    background-color: #d31f34;
}

svg.trackChart-svg {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -163px;
    margin-top: -144px;
}

#spotify-content td{
    font-size: 12px;
}
#spotify-content td span{
    color: #FFFFFF;
    font-size: 14px;
    position: absolute;
    margin-right: 10px;
    right: 0;
}

.spotify-year{
    position: relative !important;
    margin: 0 auto !important;
}
.spotify-year1 {
    padding: 0 20px;
}

.spotify-year1 div{
    font-size: 14px;
    color: #7b7b7b;
    font-weight: lighter;
    border-bottom: 0.1em solid #7b7b7b;
    border-left: 0.1em solid #7b7b7b;
    width: 10%;
}

.spotify-year1 div:last-child{
    border-right: 0.1em solid #7b7b7b;
}

.spotify-year1 div.year-selected{
    color: #FFFFFF;
}

.spotify-year div{
    font-size: 14px;
    color: #7b7b7b;
    font-weight: lighter;
    border-bottom: 0.1em solid #7b7b7b;
    border-left: 0.1em solid #7b7b7b;
    width: 20%;
}

.spotify-year div:last-child{
    border-right: 0.1em solid #7b7b7b;
}

.spotify-year div.year-selected{
    color: #FFFFFF;
}

.spotify-year-bubble{
    fill: greenyellow;
    opacity: 0.5;
}
.spotify-year-bubble-selected{
    fill: #1da7a8;
    opacity: 1;
    z-index: 122 !important;
}

.spotify-year-chart{
    position: relative;
    width: 100%;
    height: 80%;
}

.year-data-group{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.tpl-account-balance aside a.btn-default{
    height: 290px;
    line-height:290px;
    width: 45px;
    text-align: center;
    border: none;
    background-color: #1c2125;
    color: #FFFFFF;
    margin: auto 0;
    padding: 5px;

}

.tpl-account-balance aside a.btn-default:hover{
    width: 45px;
    background-color: #2d3337;
    color: #FFFFFF;
}

.account-balance aside a.btn-default{
    height: 324px;
    line-height:324px;
    width: 45px;
    text-align: center;
    border: none;
    background-color: #1c2125;
    color: #FFFFFF;
    margin: auto 0;
    padding: 5px;

}

.account-balance aside a.btn-default:hover{
    width: 45px;
    background-color: #2d3337;
    color: #FFFFFF;
}

aside.carouselScroll {
    position: absolute;
    right: 0;
    z-index: 100;
}

aside a.btn-default {
    border-radius: 0;
}

aside.arrow-down {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

aside.arrow-down a.btn-default {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    border: none;
    background-color: #1c2125;
    color: #FFFFFF;
    margin: auto 0;
    padding: 5px;
}
aside.arrow-down a.btn-default:hover {
    background-color: #2d3337;
}

.close-window{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 300;
}

.bg-image{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}
.text-green {
    color: #9ac93d;
}
.quiz-widget-body .lead {
    margin: 20px;
    font-size: 18px;
    color: #FFFFFF;
}
.quiz-widget-body img {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 290px;
    margin-left: -145px; /* Half the width */
}

.perks-amount {
    font-size: 45px;
    margin: 0 20px;
}

.progress{
    height: 7px;
    margin: 3px 0 0 0;
}

.black-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Compensate for the background image that is larger than screen */
    background-color: #000000;
    z-index: 100;
    opacity: 0.8;
    width: 1024px;
    height: 768px;
}

.black-search-overlay {
    display: none;
    z-index: 600;
    opacity: 0.92;
}

.overlay-content {
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: 700;
    padding: 10px 50px;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    max-height: 768px;
    display: none;
}

.content-wraper.container-fluid.fixed-height {
    height: 728px;
    overflow: hidden;
}

.search-content, .ask-content, .share-content {
    padding: 30px 50px;
}

.overlay-content .btn {
    font-size: 18px;
}
.overlay-content input{
    border: none;
    position: absolute;
    z-index: 200;
    top: 0;
    font-size: 60px;
    color: #FFFFFF;
    background-color: inherit;
    height: 100px;
}

.overlay-content-normal-input{
    margin-top: 10px !important;
    border: 1px solid #ffffff;
    font-size: 16px !important;
}

.money-textarea{
    background-color: inherit;
    border: none;
    color: #ffffff !important;
    font-size: 16px !important;
}
.money-textarea.valid{
    border-top: 1px solid #3dff2d !important;
    border-right: 1px solid #3dff2d !important;
    border-bottom: 1px solid #3dff2d !important;
}

.overlay-content-normal-input input{
    border: none;
    color: #ffffff !important;
    font-size: 16px !important;
}

.curate-textarea{
    background-color: inherit;
    border: 1px solid #ffffff;
    color: #ffffff !important;
    font-size: 16px !important;
    height: 75px;
}

.overlay-content-normal-input input{
    position: relative !important;
    font-size: 16px !important;
    text-align: right !important;
    height: 40px !important;
    padding: 0 10px;
}
.overlay-content-normal-input input.valid{
    border-top: 1px solid #3dff2d !important;
    border-right: 1px solid #3dff2d !important;
    border-bottom: 1px solid #3dff2d !important;
}

.overlay-content-normal-input .input-group-addon{
    border: none;
    font-size: 16px !important;
}
.overlay-content-normal-input .input-group-addon.valid{
    border-top: 1px solid #3dff2d !important;
    border-left: 1px solid #3dff2d !important;
    border-bottom: 1px solid #3dff2d !important;
    border-right: 0;
    font-size: 16px !important;

}

.overlay-content input:focus{
    border: none;
    box-shadow: none;
}

.overlay-content .input-group-addon{
    color: #FFFFFF;
    background-color: inherit;
    border: none;
}
.art-content{
    position: absolute;
    top: 0;
    min-height: 500px;
    left: 57px;
    z-index: 200;
    color: #ffffff;
}

.art-content h1, h2, h3, h4, h5, h6, p{
    font-weight: lighter !important;

}
.sidebar-list {
    position: fixed;
    width: 184px;
    height: 766px;
    background-color: #282d36;
}
.sidebar-list.art-sidebar {
    width: 230px;
}

.sidebar-list li{
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.sidebar-list li img{
    width: 100%;
}

.project-content .sidebar-list li {
    height: 146px;
}

.account-sidebar.sidebar-list li img {
    width: inherit;
    max-width: 100%;
}

.sidebar-list li.active, div.active_curate{
    opacity: 0.3;
}

.sidebar-list-wraper, .arrow-wraper {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 30px;
}


.sidebar-list li.fab-account, .img-circle {
    background-color: #1da7a8 !important;
}


.sidebar-list li.active, div.active_curate{

    background-color: #1da7a8;
}

.sidebar-list .account-balance {
    font-size: 24px;
    font-weight: lighter;
    line-height: 140px;
    height: 145px;
    overflow: hidden;
}

#money-accounts ul li{
    float: left;
}

.label-name.account-name, .label-name.label-white {
    background-color: #FFFFFF;
    color: #000000;
}
.money-content {
    color: #ffffff;
}
.money-content-detail {
    margin-left: 190px;
}

.art-content-detail {
    margin-left: 330px;
}

.sidebar-list li {
    border-bottom: 1px solid #555555;
}
.money-content .sidebar-list li {
    /*height: 144px;*/
}

.gallary-sm .contact-wraper {
    height: 99px;
    overflow: hidden;
}

.gallary-sm .contact-wraper img{
    width: 130px;
}

.like-wrapper{
    position: relative;
    width: 175px;
}

.panel-content .panel-body{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#tx-content td{
    font-size: 14px;
}
#tx-content td span.pull-right{
    font-size: 16px;
}

.tx-item td {
    padding: 15px 10px 8px 10px !important;
}

.spending{
    color: #F76D50;
}
.income{
    color: #9ac93d
}
.tx-img {
    float: left;
    width: 35px;
    height: 35px;
    background-color: #888888;
}
.tx-img-square {
    width: 58px;
    height: 58px;
}
.tx-img-social {
    float: left;
    width: 35px;
    height: 35px;
    background-color: #888888;
}
.tx-img-square-social {
    width: 50px;
    height: 50px;
}
.social-friend-name{
    height: 100%;
    line-height: 100%;
    padding: 18px 15px 0 15px;
    vertical-align: middle;
}
.table-img-square > tbody > tr > td{
    padding: 0;
}

.table-img-square > tbody > tr > td span{
    padding: 10px;
}

.account-summary {
    font-size: 18px;
    font-weight: 300;
    border-bottom: 1px solid #303030;
    padding-bottom: 7px;
    text-align: center;
}
.account-summary .summary-item {
    margin: 0 15px;
    text-align: center;
}
.account-summary.spotify-summary .summary-item {
    margin: 0 30px;
}
.accounts_pie_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -143px;
    margin-top: -133px;
}
#accounts_pie {
    position: relative;
}

.money-text{
    font-size: 24px;
    font-weight: lighter;
    padding: 20px 10px;
    line-height: 100%;
    vertical-align: middle;
}

.btn-info {
    background: none !important;
    border: 1px solid white !important;
    color: #ffffff !important;
}

.btn-info:hover, .btn-info:active{
    background-color: #ffffff !important;
    border-bottom: 1px solid #000000 !important;
    color: #000000 !important;
}

.btn-primary {
    background-color: #1ea7a9;
}
.btn-primary:hover{
    background-color: #057272;
}

.buy-thumbs{
    background-color: #000000;
    padding: 0 0 0 0;
    margin: -28px 0 0 0;
}

.buy-thumbs p{
    padding-top: 5px;
}

.buy-wraper{
    width: 55%;
}

.project-detail-assets .contact-wraper {
    width: 184px;
}
.project-detail-assets .contact-wraper img{
    width: 100%;
}

/*project detail images part*/
.image_headshot, .image_ring_inner, .image_ring_outer {
    position: absolute;

}
.image_headshot {
    width: 124px;
    top: 90px;
    left: 130px;
}

.image_ring_inner {
    width: 224px;
    top: 40px;
    left: 80px;
}

.image_ring_outer {
    width: 304px;
    left: 40px;
}

.panel-body.full-height {
    height: 100%;
}
.bg-image.fixed img{
    position: fixed;
    width: 975px;
}
.nav-footer {
    position: absolute;
    width: 157px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.second-menu .nav-footer {
    width: 57px;
}

#addModule span{
    font-size: 70px;
    line-height: 280px;
}

.btn-default{
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.btn-default:active{
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}

.btn-dark {
    background-color: #2d323b;
    border: 1px solid #222527;
    border-radius: 0;
}

.btn-dark:hover {
    color: #FFFFFF;
}

.gallery-header{
    margin: 0 -80px 20px -20px;
    padding: 20px;
}

.gallery-content{
    margin-left: -80px;
}

#projectedChart {
    position: relative;
}
.fi-projected {
    position: absolute;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border:0px solid transparent;
    margin: 40px;
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
}
.fi-projected .fi-amount {
    font-size: 18px;
    line-height: 28px;
}

.fi-grey {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #999;
}

.fi-green {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-color: #96c93e;
}

.fi-red {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 19%;
    background-color: #9e0b0f;
}

.result{
    font-size: 30px;
    cursor: pointer;
    font-weight: lighter;
}

.fab-badge {
    background-color: #1da7a8;
    line-height: 1.5;
}

#ROIChart {
    text-align: center;
    margin-top: 30px;
}
.share-group textarea{
    width: 585px;
    height: 90px;
    line-height: 20px;
    color: #222222;
    border: none;
}
.share-group .share-text {
    font-size: 14px;
}
.share-group .share-text .link {
    color: #1ea7a9;
}
.share-group .share-buttons .btn {
    font-size: 16px;
    width: 50px;
    border-color: #666;
    border-radius: 0;
    color: #666;
}
.share-group .share-buttons .btn .fa {
    font-size: 21px;
}

.share-group .share-buttons .btn.available {
    color: #FFFFFF;
}

.share-group .share-buttons .btn.active {
    color: #000000;
    background-color: #FFFFFF;
}

.share-block {
    position: relative;
    float: left;
    padding: 20px;
    background-color: #FFFFFF;
}

img.share-content-img {
    width: 135px;
}

.refresh{
    height: 173px;
    display: table;
    text-align: center;
}

.refresh span {
    display: table-cell;
    vertical-align: middle;
}

.relative{
    position: relative;
}

.bg-black{
    margin: 0 -50px !important;
}

.move-wraper {
    width: 500px;
    margin: 0 auto;
}

.move-text{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #000000;
    padding: 7px 17px 10px 20px;
    opacity: 0.7;
}

.accounts{
    position: absolute;
    z-index: 1500;
    top: 0;
    left: 0;
    height: 100% !important;
}

.contact-margin{
    margin-left: 132px !important;
}

.disabled{
    background-color: dimgrey !important;
}

#artVideoImg {
    position: absolute;
    z-index: 1;
}

#artVideo {
    position: absolute;
}

.art-play-button {
    position: absolute;
    left: 50%;
    line-height: 768px;
    z-index: 2;
}
.art-play-button .glyphicon {
    font-size: 40px;
    background-color: #000;
    color: #FFFFFF;
    border: 1px solid #aaa;
    padding: 20px;
    border-radius: 50%;
    left: -40px;
    opacity: 0.9;
}
