/*=========================================
Reset
=========================================== */


#wrapper {
	margin:0 auto;
	width: 100%;
	height: 100%;
}

/* Link to Documentation */
a#documentation {
	position: fixed; top: 11px; right: 9px;
	background: #5badf0; color: #fff;
	padding: 8px 12px;
	font-size: 13px; font-weight: bold; line-height: 1.35;
	border-radius: 3px; z-index: 100;
}

/* Horizontally and vertically centers the text */
.center {
	margin: 0 auto;
	padding:0 40px 0 40px;
	max-width:600px;
	position: relative; top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#badge {
	position: absolute; bottom: 10px; right: 10px;
	height: 48px; width: 48px;
}

.panel.panel-chrome-default .lp-widget-controls, .panel.panel-chrome-default > .panel-heading, .panel.panel-chrome-default .panel-title {
	height: 45px;
	line-height: 45px !important;
}
.img-center-wraper {
	text-align: center;
}
