h1, .h1 {
	font-size: 22px;
	@media (min-width:@screen-tablet){
		font-size: 36px;
	}
}

h3, .h3 {
	font-size: 20px;
	@media (min-width:@screen-tablet){
		font-size: 24px;
	}
}
a:hover {
	text-decoration: none;
}

.top-buffer {
	margin-top: 20px;
}

.navbar {
	margin-bottom: 0;
}

.bottom-buffer {
	margin-bottom: 20px;
}
.right-buffer {
	margin-right: 20px;
}
.left-buffer {
	margin-left: 20px;
}
.btn-group{
	width: 100%;
	@media (min-width:@screen-tablet){
		width: inherit;
	}
}

.btn-wide {
	padding-left: 30px;
	padding-right: 30px;
}

.btn-default:focus {
	background-color: #f9f9f9;
}
.btn-default:active, .btn-default.active{
	background: #1092E9;
	color: #FFFFFF;
}

.form-group {
	margin-bottom: 30px;
	:last-child {
		margin-bottom: 0px;
	}
	@media (min-width:@screen-tablet){
		margin-bottom: 20px;
	}
}

.alt_form_option {
	display: inline-block;
	margin-left: 34px;
	color: @gray;
}

.login-form-wrap{
	display: none;
}

p.copyright {
	margin: 15px 0 0;
}

.twitter-typeahead {
	display: block !important;
}

.typeahead.schools.input-lg {
	width: 450px;	
}

.search-form-home .btn-wide {
	padding: 12px 51px;
}

.main-content {
	background: #FEFEFE;
	.box-shadow(0px 1px 3px rgba(0,0,0,0.2));
	border-radius: 6px;
	margin: 20px auto;
	padding: 20px 40px;
	min-height: 450px;
}

// Header style
#header {
	z-index: 2;
}

ul.nav .btn {
	margin-top: 10px;
}

#registerBtn {
	margin-right: 10px;
}

#registerModal .modal-dialog {
	@media (min-width:@screen-tablet){
		width: 400px;
	}
}

.edit_mode {
	display: none;
}

.label {
	border-radius: 2px;
	padding: .2em 1em .3em;
}
.label-lg {
	font-size: 95%;
}

.my_list .label {
	margin-right: 20px; 
}


.center-cropped {
    width: 100%;  // change to desired width.
    height: 120px; // change to desired height.
    @media (min-width:@screen-tablet){
		height: 120px;
	}
	@media (min-width:@screen-desktop){
		height: 150px;
	}
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}​

.center-cropped.host-img{
	height: 120px; // change to desired height.
    @media (min-width:@screen-tablet){
		height: 100px;
	}
	@media (min-width:@screen-desktop){
		height: 100px;
	}
}

.my_photos .thumbnail {
	padding: 0;
}

.thumbnail {
	.transition-property("width, height");
	.transition-duration(500ms);
}

.photo-box {
	margin-bottom: -20px;
}

.links.panel .panel-body {
	padding-left: 0;
	padding-right: 0;
}

.links.panel .link-cell{
	text-align: center;
	i {
		font-size: @font-size-large;
	}
	a {
		color: @gray;
	}
}

.links.panel .link-cell+.link-cell{
	border-left: 1px solid #e4e4e4;
}

// .profile_imagebox {
// 	float: left;
// }

.well.arrow_box .carousel-control {
	color: @gray-light;
	&.left {
	  #gradient > .horizontal(@start-color: rgba(0,0,0,.0); @end-color: rgba(0,0,0,.0));
	}
	&.right {
	  left: auto;
	  right: 0;
	  #gradient > .horizontal(@start-color: rgba(0,0,0,.0); @end-color: rgba(0,0,0,.0));
	}
	.glyphicon-chevron-right {
		right: 0%;
	}
	.glyphicon-chevron-left {
		left: 20%;
	}
}

.carousel .item img {
	margin: auto;
}

.well.arrow_box .btn-group {
	margin-bottom: 10px;
	.btn {
		width: 80.3%;
	}
	.btn.dropdown-toggle {
		width: 20%;
	}
}
.periods {
	margin-right: 20px;
	.period_filter {
		margin: 0 10px;
	}
}

.fab-widget-chrome{
    padding: 0;
    .panel {
    	margin-bottom: 0;
    }
}
.fab-widget-chrome .panel-body {
  #gradient.vertical(#666a73; #2e333b; 0%; 100%);
}
