//Overwrite bootstrap variables

//Color Start
@brand-primary:         #428BCA;
@white: 				hsl(0, 100%, 100%);
@brand-info: 			hsl(210, 50%, 65%);

// Primary Variants -
@primaryLight:   hsl(hue(@brand-primary), 100%, 70%);
@primaryDark:    hsl(hue(@brand-primary), 60%, 40%);
@primaryFaded:   hsl(hue(@brand-primary), 60%, 65%);
 
// 180degree Variants
@variant:         spin((@brand-primary), 180);
@variantLight:    hsl(hue(@variant), 100%, 70%);
@variantDark:     hsl(hue(@variant), 60%, 40%);
@variantFaded:    hsl(hue(@variant), 60%, 65%);
 
// 90degree Variants
@corner:         spin((@brand-primary), 70);
@cornerLight:    hsl(hue(@corner), 100%, 70%);
@cornerDark:     hsl(hue(@corner), 60%, 40%);
@cornerFaded:    hsl(hue(@corner), 60%, 65%);

//Color END


// Grid system setting

@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         15px;

@text-color:            @gray;

@icon-font-path:          "static/fonts/";


@font-family-sans-serif:  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base:          11px;

@border-radius-base:        2px;
@border-radius-large:       3px;
@border-radius-small:       2px;

@padding-base-vertical:     9px;
@padding-base-horizontal:   12px;

@padding-large-vertical:    10px;
@padding-large-horizontal:  16px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;


//== Panels

@panel-default-border:        #E1E6EF;