<div class="project-content">
<div class="sidebar-list">
    <aside class="arrow-down">
        <a onclick="scrollDown('account-list-pdetail')" class="btn btn-default"><span class="fa fa-angle-down fa-fw fa-2x"></span></a>
    </aside>
    <div id="account-list-pdetail" class="sidebar-list-wraper">
        <ul>
            <li id="project-side-4">
                <a href="?page=4">
                    <img src="static/images/art_page/FABGallery-23.png" alt="">
                    <div class="contact-label">
                        <div class="label-name account-type">Zombie Broadway</div>
                    </div>
                </a>
            </li>
            <li id="project-side-5">
                <a href="?page=5">
                    <img src="static/images/assets/assets_3.png" alt="">
                    <div class="contact-label">
                        <div class="label-name account-type">Stevie's Album</div>
                    </div>
                </a>
            </li>
            <li id="project-side-6">
                <a href="?page=6">
                    <img src="static/images/art_page/FABGallery-15.png" alt="">
                    <div class="contact-label">
                        <div class="label-name account-type">Be My Band</div>
                    </div>
                </a>
            </li>
            <li id="project-side-1">
                <a href="?page=1">
                    <img src="static/images/movemoney/person-5.jpg" alt="">
                    <div class="contact-label">
                        <div class="label-name account-type">Kaya's Album</div>
                    </div>
                </a>
            </li>
            <li id="project-side-2">
                <a href="?page=2">
                    <img src="static/images/art_page/FABGallery-7.png" alt="">
                    <div class="contact-label">
                        <div class="label-name account-type">OneShot</div>
                    </div>
                </a>
            </li>
            <li id="project-side-3">
                <a href="?page=3">
                    <img src="static/images/assets/hollie.jpg" alt="">
                    <div class="contact-label">
                        <div class="label-name account-type">Hollie's Album</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="money-content-detail">
<ul class="row">
<li class="fab-widget-chrome col-sm-12 card">
    <div class="panel panel-chrome-default panel-content">
        <!-- <div class="panel-heading fab-widget-chrome">
        </div> -->
        <div class="panel-content">
            <div class="panel-body no-heading no-padding">
                <div class="col-sm-6 text-center top-buffer">
                    <!-- <img src="{{image_url}}" alt=""> -->
                    <img class="image_headshot" src="{{image_headshot}}" alt="">
                    <img class="image_ring_inner" src="{{image_ring_inner}}" alt="">
                    <img class="image_ring_outer" src="{{image_ring_outer}}" alt="">
                </div>
                <div class="col-sm-6">
                    <h2>{{title}}</h2>
                    <p>{{description}}</p>


                    <h2>Next Best Actions</h2>
                    <table class="table" id="next-actions-content">
                        <tbody>
                        <tr id="tx-item">
                            <td>
                                <img src="static/images/projects/icon-project-kaya1.png" alt="">
                                <span class="">Start a T-Shirt design content through Talenthouse. </span>
                            </td>
                        </tr>

                        <tr id="tx-item">
                            <td>
                                <img src="static/images/projects/icon-project-kaya2.png" alt="">
                                <span class="">Setup an eccomerce FAB store to help move your product.</span>
                            </td>
                        </tr>

                        <tr id="tx-item">
                            <td>
                                <img src="static/images/projects/icon-project-kaya3.png" alt="">
                                <span class="">Use twitter to help market your new album</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</li>


<li class="fab-widget-chrome col-sm-6 card">
    <!-- Row two -->
    <div class="panel panel-chrome-default panel-content">
        <div class="panel-heading fab-widget-chrome">
            <div class="panel-title pull-left">
                <a href="initiative_detail.html"><span class="card-title">Initiatives</span></a>
            </div>
            <div class="lp-widget-controls">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="">
            <div class="panel-content">
                <div class="panel-body no-padding">
                    <aside class="arrow-down">
                        <a onclick="scrollDown('project_initiatives')" class="btn btn-default"><span class="fa fa-angle-down fa-fw fa-2x"></span></a>
                    </aside>
                    <div id="project_initiatives" class="arrow-wraper">
                        <table class="table table-img-square" id="tx-content">
                            <tbody>
                            {{#initiatives}}
                            <tr id="tx-item">
                                <td>
                                    <div class="tx-img tx-img-square"><img src="{{img_url}}" alt=""></div>
                                    <span class="pull-left">{{name}}</span> <span class="pull-right">{{value}}</span>
                                </td>
                            </tr>
                            {{/initiatives}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>

<li class="fab-widget-chrome col-sm-6 card">
<!-- Row two -->
<div class="panel panel-chrome-default panel-content">
<div class="panel-heading fab-widget-chrome">
    <div class="panel-title pull-left">
        <span class="card-title">Move Money</span>
    </div>
    <div class="lp-widget-controls">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="panel-content gallary-sm">
    <div class="panel-body no-padding">
        <aside class="arrow-down">
            <a class="btn btn-default" href="#moveCarouselOne" onclick="return false" role="button" data-slide="next"><span class="fa fa-angle-down fa-fw fa-2x"></span></a>
        </aside>
        <div id="moveCarouselOne" class="carousel vertical slide" data-interval="4000" data-pause="true">
            <div class="carousel-inner">
                <div class="contact-m1 item active">
                    <div id="detail-person-1" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-1.png" alt="">
                        <div class="contact-label">
                            <div class="label-name">The Hollywood Bowl</div>
                        </div>
                    </div>
                    <div id="detail-person-2" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-2.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name">DSE</div>
                        </div>
                    </div>
                    <div id="detail-person-3" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-3.jpg" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Hollie Stevenson</div>
                        </div>
                    </div>
                    <div id="detail-person-4" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-4.jpg" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">WB</div>
                        </div>
                    </div>
                    <div id="detail-person-5" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-5.jpg" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Kaya Stewart</div>
                        </div>
                    </div>
                    <div id="detail-person-6" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-6.jpg" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">BMG</div>
                        </div>
                    </div>
                    <div id="detail-person-7" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-7.jpg" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Milk Studios</div>
                        </div>
                    </div>
                    <div id="detail-person-8" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-8.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Stevie Nicks</div>
                        </div>
                    </div>
                    <div id="detail-person-9" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-9.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Mike Bradford</div>
                        </div>
                    </div>
                </div>
                <div class="contact-m2 item">
                    <div id="detail-person-10" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-10.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Anoushka</div>
                        </div>
                    </div>
                    <div id="detail-person-11" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-11.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Joss Stone</div>
                        </div>
                    </div>
                    <div id="detail-person-12" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-12.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">DTS</div>
                        </div>
                    </div>
                    <div id="detail-person-13" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-13.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Adobe CC</div>
                        </div>
                    </div>
                    <div id="detail-person-14" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-14.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Chanel</div>
                        </div>
                    </div>
                    <div id="detail-person-15" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-15.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Oakwood</div>
                        </div>
                    </div>
                    <div id="detail-person-16" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-16.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Starbucks</div>
                        </div>
                    </div>
                    <div id="detail-person-17" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-17.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Cole Haddon</div>
                        </div>
                    </div>
                    <div id="detail-person-18" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-18.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">British Airways</div>
                        </div>
                    </div>
                </div>
                <div class="contact-m3 item">
                    <div id="detail-person-19" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-19.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Standard Bank</div>
                        </div>
                    </div>
                    <div id="detail-person-20" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-20.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Morrison Hotel Gallery</div>
                        </div>
                    </div>
                    <div id="detail-person-21" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-21.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">NBC</div>
                        </div>
                    </div>
                    <div id="detail-person-22" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-22.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Premier Parking</div>
                        </div>
                    </div>
                    <div id="detail-person-23" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-23.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Kristin Burns</div>
                        </div>
                    </div>
                    <div id="detail-person-24" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-24.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Jerry Harvey Audio</div>
                        </div>
                    </div>
                    <div id="detail-person-25" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-25.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Chris Champeau</div>
                        </div>
                    </div>
                    <div id="detail-person-26" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-26.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Division Camera</div>
                        </div>
                    </div>
                    <div id="detail-person-27" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-27.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">ProTravel</div>
                        </div>
                    </div>
                </div>
                <!--<div class="contact-m4 item">-->
                    <!--<div id="detail-person-28" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">-->
                        <!--<a href="#" data-overlay="move"><img src="static/images/movemoney/person-28.png" alt=""></a>-->
                        <!--<div class="contact-label">-->
                            <!--<div class="label-name">B. Akerlund</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div id="detail-person-29" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">-->
                        <!--<a href="#" data-overlay="move"><img src="static/images/movemoney/person-29.png" alt=""></a>-->
                        <!--<div class="contact-label">-->
                            <!--<div class="label-name">Anita First Law Corporation, Inc.</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

</div>
</li>

<!-- Financial Info -->
<li class="fab-widget-chrome col-sm-12 card">
    <div class="panel panel-chrome-default panel-content">
        <div class="panel-heading fab-widget-chrome">
            <div class="panel-title pull-left">
                <span class="card-title">Financial Info</span>
            </div>
            <div class="lp-widget-controls">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-content">
            <div class="panel-body no-padding full-height">
                <img src="static/images/assets/media04-top.png" alt="">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div id="projectedChart" class="col-sm-6">
                                <div class="fi-projected">
                                    <div class="fi-grey"> <div class="fi-amount">120K</div> projected </div>
                                    <div class="fi-green"> <div class="fi-amount">75K</div>  raised </div>
                                    <div class="fi-red"><div class="fi-amount">20K</div></div>
                                </div>
                            </div>
                            <div id="ROIChart" class="col-sm-6"></div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="height:274px;">
                        <aside class="arrow-down">
                            <a href="#" class="btn btn-default"><span class="fa fa-angle-down fa-fw fa-2x"></span></a>
                        </aside>
                        <div class="arrow-wraper">
                            <table class="table table-img-square" id="tx-content">
                                <tbody>
                                <tr id="tx-item">
                                    <td><div class="tx-img tx-img-square"><img src="static/images/assets/icon_k.png" alt=""></div><span class="pull-left">KickStarter <br><small>Brooklyn, NY</small></span><span class="pull-right income">$ 25,000</span> </td>
                                </tr>
                                <tr id="tx-item">
                                    <td><div class="tx-img tx-img-square"><img src="static/images/assets/icon_k.png" alt=""></div><span class="pull-left">KickStarter <br><small>Brooklyn, NY</small></span><span class="pull-right spending">$ 750</span> </td>
                                </tr>
                                <tr id="tx-item">
                                    <td><div class="tx-img tx-img-square"><img src="static/images/assets/icon_k.png" alt=""></div><span class="pull-left">KickStarter <br><small>Brooklyn, NY</small></span><span class="pull-right income">$ 25,000</span> </td>
                                </tr>
                                <tr id="tx-item">
                                    <td><div class="tx-img tx-img-square"><img src="static/images/assets/icon_k.png" alt=""></div><span class="pull-left">KickStarter <br><small>Brooklyn, NY</small></span><span class="pull-right spending">$ 750</span> </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>

<!-- Assets -->
<li class="fab-widget-chrome col-sm-12 card project-detail-assets">
    <div class="panel panel-chrome-default panel-content">
        <div class="panel-heading fab-widget-chrome">
            <div class="panel-title pull-left">
                <span class="card-title">Assets</span>
            </div>
            <div class="lp-widget-controls">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-content">
            <div class="panel-body no-padding tpl-account-balance">
                <aside class="carouselScroll">
                    <a class="btn btn-default" href="#contactCarouselOne" onclick="return false" role="button" data-slide="next"><span class="fa fa-angle-right fa-fw fa-2x"></span></a>
                </aside>
                <div id="contactCarouselOne" class="carousel slide" data-interval="4000" data-pause="true">
                    <div class="carousel-inner">
                        <div class="contact-p1 item active">
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_1.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">Current Profile Photo</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_2.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">Management Contract Template</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_3.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">24 Carat Writeup</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_4.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">Rock'n Roll Circus Video</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_5.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">Kaya's Tour Writeup</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_6.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">FAB Announcement</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_7.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">Balance Sheet - 6/14</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_8.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">Eurythmic Beatles Reunion</div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-p2 item">
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_1.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">Current Profile Photo</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_2.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">Management Contract Template</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_3.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">24 Carat Writeup</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_4.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">Rock'n Roll Circus Video</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_5.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">Kaya's Tour Writeup</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_6.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">FAB Announcement</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_7.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">Balance Sheet - 6/14</div>
                                </div>
                            </div>
                            <div class="contact-wraper pull-left">
                                <img src="static/images/assets/assets_8.png" alt="">
                                <div class="contact-label">
                                    <div class="label-name">Eurythmic Beatles Reunion</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>


</ul>

</div>
</div>


