<div class="sidebar-list account-sidebar">
    <aside class="arrow-down">
        <a onclick="scrollDown('account_list')" class="btn btn-default"><span class="fa fa-angle-down fa-fw fa-2x"></span></a>
    </aside>
    <div id="account_list" class="sidebar-list-wraper">
        <ul>
            <li onclick="selectAccount('FAB Business', this.id)" id="FABBusiness" class="active fab-account account">
                <div class="account-balance">
                    <img src="static/images/FAB-Logo.png" alt="">
                </div>
                <div class="contact-label">
                    <div class="label-name account-type">$150,143</div>
                    <div class="label-name account-name">Business</div>
                </div>
            </li>
            <li onclick="selectAccount('BofA Business', this.id)" id="BofABusiness" class="account">
                <div class="account-balance">
                    <img src="static/images/accounts/boa.jpg" alt="">
                </div>
                <div class="contact-label">
                    <div class="label-name account-type">$50,353</div>
                    <div class="label-name account-name">Business</div>
                </div>
            </li>
            <li onclick="selectAccount('FAB Personal', this.id)" id="FABPersonal" class="fab-account account">
                <div class="account-balance">
                    <img src="static/images/FAB-Logo.png" alt="">
                </div>
                <div class="contact-label">
                    <div class="label-name account-type">$15,243</div>
                    <div class="label-name account-name">Personal</div>
                </div>
            </li>
            <li onclick="selectAccount('Chase', this.id)" id="Chase" class="account">
                <div class="account-balance">
                    <img src="static/images/accounts/chase.jpg" alt="">
                </div>
                <div class="contact-label">
                    <div class="label-name account-type">$4,143</div>
                    <div class="label-name account-name">Business</div>
                </div>
            </li>
            <li onclick="selectAccount('AMEX', this.id)" id="AMEX" class="account">
                <div class="account-balance">
                    <img src="static/images/accounts/amex.jpg" alt="">
                </div>
                <div class="contact-label">
                    <div class="label-name account-type">$13,000</div>
                    <div class="label-name account-name">Credit Card</div>
                </div>
            </li>
            <li onclick="return false;" id="" class="account">
                <div class="account-balance">
                    <img src="static/images/accounts/investment.jpg" alt="">
                </div>
                <div class="contact-label">
                    <div class="label-name account-type">$220,006</div>
                    <div class="label-name account-name">Business</div>
                </div>
            </li>
        </ul>
    </div>
</div>