<!-- ################### Add Module ###################  -->
<li class="fab-widget-chrome col-sm-4 card">
	<div class="panel panel-chrome-default panel-content">
		<div class="panel-heading fab-widget-chrome">
			<div class="panel-title pull-left">
				<a href="spotify_detail.html" class="card-title">Add a Module</a>
			</div>
		</div>

		<div class="panel-body">
			<div class="row text-center" id="addModule">
				<span class="glyphicon glyphicon-plus"></span>
			</div>
		</div>
	</div>
</li>