    <aside id="money-accounts" class="accounts hidden">
        <div class="sidebar-list account-sidebar">
    <aside class="arrow-down">
        <a onclick="scrollDown('account_list')" class="btn btn-default"><span class="fa fa-angle-down fa-fw fa-2x"></span></a>
    </aside>
    <div id="account_list" class="sidebar-list-wraper">
        <ul>
            <li onclick="selectAccount('FAB Business', this.id)" id="FABBusiness" class="active fab-account account">
                <div class="account-balance">
                    <img src="static/images/FAB-Logo.png" alt="">
                </div>
                <div class="contact-label">
                    <div class="label-name account-type">$150,143</div>
                    <div class="label-name account-name">Business</div>
                </div>
            </li>
            <li onclick="selectAccount('BofA Business', this.id)" id="BofABusiness" class="account">
                <div class="account-balance">
                    <img src="static/images/accounts/boa.jpg" alt="">
                </div>
                <div class="contact-label">
                    <div class="label-name account-type">$50,353</div>
                    <div class="label-name account-name">Business</div>
                </div>
            </li>
            <li onclick="selectAccount('FAB Personal', this.id)" id="FABPersonal" class="fab-account account">
                <div class="account-balance">
                    <img src="static/images/FAB-Logo.png" alt="">
                </div>
                <div class="contact-label">
                    <div class="label-name account-type">$15,243</div>
                    <div class="label-name account-name">Personal</div>
                </div>
            </li>
            <li onclick="selectAccount('Chase', this.id)" id="Chase" class="account">
                <div class="account-balance">
                    <img src="static/images/accounts/chase.jpg" alt="">
                </div>
                <div class="contact-label">
                    <div class="label-name account-type">$4,143</div>
                    <div class="label-name account-name">Business</div>
                </div>
            </li>
            <li onclick="selectAccount('AMEX', this.id)" id="AMEX" class="account">
                <div class="account-balance">
                    <img src="static/images/accounts/amex.jpg" alt="">
                </div>
                <div class="contact-label">
                    <div class="label-name account-type">$13,000</div>
                    <div class="label-name account-name">Credit Card</div>
                </div>
            </li>
            <li onclick="return false;" id="" class="account">
                <div class="account-balance">
                    <img src="static/images/accounts/investment.jpg" alt="">
                </div>
                <div class="contact-label">
                    <div class="label-name account-type">$220,006</div>
                    <div class="label-name account-name">Business</div>
                </div>
            </li>
        </ul>
    </div>
</div>

    </aside>
    <aside class="close-window close-search-overlay">
        <a href="#"><img src="static/images/art_page/close.png" alt="" /></a>
    </aside>
    <div class="row">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <img id="curate-content-img" width="100%" src="static/images/art_page/bg_image.png" alt="" />
            </div>
            <div class="col-sm-4">
                <h3>New Album</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque eros augue, faucibus at elit vitae, mattis lacinia tortor.
                    Curabitur mattis orci eget mauris posuere, sed viverra nisl hendrerit.
                    Donec eget quam quam. Ut volutpat turpis id egestas molestie.
                    Maecenas vel auctor libero. Nullam accumsan arcu non consequat pellentesque.<br><br>
                    Nunc ornare pulvinar massa. Nam et augue vel tortor lacinia semper.
                    Aenean tincidunt pellentesque laoreet.
                    Maecenas vel auctor libero. Nullam accumsan arcu non consequat pellentesque.
                    Nunc ornare pulvinar massa.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row move-wraper">
        <div class="col-sm-12">
                <div id="gallery_text" class="form-control curate-textarea"> <span class="placeholder">Please select gallery items below</span> </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <button id="cancel-overlay" class="btn btn-danger">Cancel</button>
                </div>
                <div class="col-sm-6 text-center">
                    <button id="curate-plus" onclick="curateShare()" class="btn btn-primary disabled">Curate & Share Content</button>
                </div>
                <div class="col-sm-3">
                    <button id="curate-one" class="btn btn-success pull-right disabled">Curate</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <ul id="contacts" class="bg-black">
        <li class="fab-widget-chrome col-sm-12">
            <div class="panel panel-chrome-default chart">
                <div class="panel-heading fab-widget-chrome">
                    <div class="panel-title pull-left">
                        <span class="card-title">Add To <em>(Select as many as you like)</em></span>
                    </div>
                    <div class="lp-widget-filter pull-right filters">
                        Recent <img src="static/images/icon-filter.png" alt="">
                    </div>
                    <div class="lp-widget-controls">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body no-padding account-balance">
                    <aside class="pull-right">
                        <a class="btn btn-default"><span class="fa fa-angle-right fa-fw fa-2x"></span></a>
                    </aside>
                    <div id="gallery_1" onclick="addGallery(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/art_page/music.jpg" alt="" />
                        <div class="contact-label">
                            <div class="label-name account-type">Music Gallery</div>
                        </div>
                    </div>
                    <div id="gallery_2" onclick="addGallery(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/art_page/movie.jpg" alt="" />
                        <div class="contact-label">
                            <div class="label-name account-type">Movie Gallery</div>
                        </div>
                    </div>
                    <div id="gallery_3" onclick="addGallery(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/art_page/design.jpg" alt="" />
                        <div class="contact-label">
                            <div class="label-name account-type">Design Gallery</div>
                        </div>
                    </div>
                    <div id="gallery_4" onclick="addGallery(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/art_page/insp.jpg" alt="" />
                        <div class="contact-label">
                            <div class="label-name account-type">Inspiration Gallery</div>
                        </div>
                    </div>
                    <div id="gallery_5" onclick="addGallery(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/art_page/project.jpg" alt="" />
                        <div class="contact-label">
                            <div class="label-name account-type">Project Gallery</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>