<aside class="close-window close-search-overlay">
    <a href="#"><img src="static/images/art_page/close.png" alt="" /></a>
</aside>
<div class="row move-wraper">
    <div class="col-sm-5">
        <div id="from-container" class="contact-wraper pull-left" style="margin-bottom: 10px;">
            <span class="move-text">From:</span>
            <img id="from-image" onclick="showAccounts('from')" height="153" src="static/images/move_money/fab_account.jpg" alt="" />
            <div class="contact-label">
                <div id="from-amount" class="label-name account-type">$150,143</div>
                <div id="from-name" title="from" class="label-name account-name pull-right">Business</div>
            </div>
        </div>
        <!-- <p>&nbsp;</p> -->
        <div class="input-group overlay-content-normal-input">
            <span class="input-group-addon"><i class="fa fa-dollar fa-fw"></i></span>
            <input id="money-amount" onblur="validateNumber()" height="20" type="number" class="form-control" style="width: 150px;"  />
        </div>
    </div>
    <div class="col-sm-2 text-center refresh">
        <span onclick="changePayment()" class="fa fa-refresh fa-fw fa-3x"></span>
    </div>
    <div class="col-sm-5">
        <div id="to-container" class="contact-wraper pull-left" style="margin-bottom: 10px;">
            <span class="move-text">To:</span>
            <img onclick="showAccounts('to')" id="to-image" height="153" src="static/images/move_money/to.jpg" alt="" />
            <div class="contact-label">
                <div id="to-name" title="to" class="contact-name pull-right">Kaya Stewert</div>
            </div>
        </div>
        <!-- <p>&nbsp;</p> -->
        <div class="input-group overlay-content-normal-input">
            <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
            <input onchange="validateDate()" height="20" id="money-date" type="date" class="form-control" style="width: 150px;"/>
        </div>
    </div>
</div>
<div class="row move-wraper">
    <div class="col-sm-12">
        <div class="input-group overlay-content-normal-input">
            <span class="input-group-addon"><b>#</b></span>
            <textarea id="hashTag" rows="2" class="form-control money-textarea tags-input">#KayaAlbum, #Kayastewart, #albumdesign</textarea>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <button id="cancel-overlay" class="btn btn-danger">Cancel</button>
            </div>
            <div class="col-sm-6 text-center">
                <button id="confirm-plus" class="btn btn-primary disabled">Confirm & Do Another</button>
            </div>
            <div class="col-sm-3">
                <button id="confirm-one" class="btn btn-success pull-right disabled">Confirm</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<ul class="bg-black">
<li class="fab-widget-chrome col-sm-12">
<div class="panel panel-chrome-default chart">
<div class="panel-heading fab-widget-chrome">
    <div class="panel-title pull-left">
        <span class="card-title">Move Money</span>
    </div>
    <!-- <div class="lp-widget-filter pull-right filters">
        Recent <img src="static/images/icon-filter.png" alt="">
    </div> -->
    <div class="lp-widget-controls">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="money-accounts" class="hidden account-balance">
    <div class="panel-body no-padding account-balance">
    <aside class="carouselScroll">
        <a class="btn btn-default" href="#contactCarouselAcc" onclick="return false" role="button" data-slide="next"><span class="fa fa-angle-right fa-fw fa-2x"></span></a>
    </aside>
        <div id="contactCarouselAcc" class="carousel slide" data-interval="4000" data-pause="true">
            <div class="carousel-inner">
                <div class="contact-p1 item active">
                    <div id="account_1" onclick="replaceFrom(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/move_money/fab_account.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name account-type">$150,143</div>
                            <div class="label-name account-name">Business</div>
                        </div>
                    </div>
                    <div id="account_2" onclick="replaceFrom(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/accounts/boa.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name account-type">$50,353</div>
                            <div class="label-name account-name">Business</div>
                        </div>
                    </div>
                    <div id="account_3" onclick="replaceFrom(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/move_money/fab_account.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name account-type">$15,243</div>
                            <div class="label-name account-name">Personal</div>
                        </div>
                    </div>
                    <div id="account_4" onclick="replaceFrom(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/accounts/chase.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name account-type">$4,143</div>
                            <div class="label-name account-name">Business</div>
                        </div>
                    </div>
                    <div id="account_5" onclick="replaceFrom(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/move_money/fab_account.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name account-type">$50,353</div>
                            <div class="label-name account-name">Business</div>
                        </div>
                    </div>
                    <div id="account_6" onclick="replaceFrom(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/accounts/investment.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name account-type">$220,006</div>
                            <div class="label-name account-name">Business</div>
                        </div>
                    </div>
                </div>
                <div class="contact-p2 item">
                    <div id="account_7" onclick="replaceFrom(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/move_money/fab_account.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name account-type">$150,143</div>
                            <div class="label-name account-name">Business</div>
                        </div>
                    </div>
                    <div id="account_8" onclick="replaceFrom(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/accounts/boa.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name account-type">$50,353</div>
                            <div class="label-name account-name">Business</div>
                        </div>
                    </div>
                    <div id="account_9" onclick="replaceFrom(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/move_money/fab_account.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name account-type">$15,243</div>
                            <div class="label-name account-name">Personal</div>
                        </div>
                    </div>
                    <div id="account_10" onclick="replaceFrom(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/accounts/chase.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name account-type">$4,143</div>
                            <div class="label-name account-name">Business</div>
                        </div>
                    </div>
                    <div id="account_11" onclick="replaceFrom(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/move_money/fab_account.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name account-type">$50,353</div>
                            <div class="label-name account-name">Business</div>
                        </div>
                    </div>
                    <div id="account_12" onclick="replaceFrom(this.id)" class="contact-wraper pull-left">
                        <img src="static/images/accounts/investment.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name account-type">$220,006</div>
                            <div class="label-name account-name">Business</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contacts">
    <div class="panel-body no-padding account-balance">
        <aside class="carouselScroll">
            <a class="btn btn-default" href="#contactCarouselPop" onclick="return false" role="button" data-slide="next"><span class="fa fa-angle-right fa-fw fa-2x"></span></a>
        </aside>
        <div id="contactCarouselPop" class="carousel slide" data-interval="4000" data-pause="true">
            <div class="carousel-inner">
                <div class="contact-p1 item active">
                    <div id="index-person-10" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-1.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">The Hollywood Bowl</div>
                            <!-- <div class="col-sm-6 recent-tx-amount income">+62,245</div> -->
                        </div>
                    </div>
                    <div id="index-person-11" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-2.jpg" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">DSE</div>
                            <!-- <div class="col-sm-6 recent-tx-amount spending">-56,240</div> -->
                        </div>
                    </div>
                    <div id="index-person-12" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-3.jpg" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Hollie</div>
                            <!-- <div class="col-sm-6 recent-tx-amount spending">-1,256</div> -->
                        </div>
                    </div>
                    <div id="index-person-13" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-4.jpg" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">WB</div>
                            <!-- <div class="col-sm-6 recent-tx-amount income">+203,650</div> -->
                        </div>
                    </div>
                    <div id="index-person-14" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-5.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Kaya Stewart</div>
                            <!-- <div class="col-sm-6 recent-tx-amount spending">-32,325</div> -->
                        </div>
                    </div>
                    <div id="index-person-15" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-6.jpg" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">BMG</div>
                            <!-- <div class="col-sm-6 recent-tx-amount income">+12,384</div> -->
                        </div>
                    </div>
                    <div id="index-person-16" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-7.jpg" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Milk Studios</div>
                            <!-- <div class="col-sm-6 recent-tx-amount income">+21,235</div> -->
                        </div>
                    </div>
                    <div id="index-person-17" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-8.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Stevie Nicks</div>
                            <!-- <div class="col-sm-6 recent-tx-amount income">+3,889</div> -->
                        </div>
                    </div>
                    <div id="index-person-1" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-9.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Mike Bradford</div>
                        </div>
                    </div>
                    <div id="index-person-2" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-10.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Anoushka</div>
                        </div>
                    </div>
                </div>
                <div class="contact-p2 item">
                    <div id="index-person-3" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-11.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Joss Stone</div>
                        </div>
                    </div>
                    <div id="index-person-4" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-12.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">DTS</div>
                        </div>
                    </div>
                    <div id="index-person-5" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-13.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Adobe CC</div>
                        </div>
                    </div>
                    <div id="detail-person-6" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-14.png" alt="">
                        <div class="contact-label">
                            <div class="col-sm-6 pull-right contact-name">Chanel</div>
                        </div>
                    </div>
                    <div id="index-person-7" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-15.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Oakwood</div>
                        </div>
                    </div>
                    <div id="index-person-8" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-16.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Starbucks</div>
                        </div>
                    </div>
                    <div id="index-person-a" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-17.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Cole Haddon</div>
                        </div>
                    </div>
                    <div id="index-person-b" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-18.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">British Airways</div>
                        </div>
                    </div>
                    <div id="index-person-c" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-19.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Standard Bank</div>
                        </div>
                    </div>
                    <div id="index-person-d" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-20.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Morrison Hotel Gallery</div>
                        </div>
                    </div>
                </div>
                <div class="contact-p3 item">
                    <div id="index-person-e" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-21.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">NBC</div>
                        </div>
                    </div>
                    <div id="detail-person-f" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-22.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Premier Parking</div>
                        </div>
                    </div>
                    <div id="index-person-g" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-23.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Kristin Burns</div>
                        </div>
                    </div>
                    <div id="index-person-h" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-24.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Jerry Harvey Audio</div>
                        </div>
                    </div>
                    <div id="index-person-j" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-25.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Chris Champeau</div>
                        </div>
                    </div>
                    <div id="index-person-k" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-26.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Division Camera</div>
                        </div>
                    </div>
                    <div id="index-person-l" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-27.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">ProTravel</div>
                        </div>
                    </div>
                    <div id="index-person-m" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-28.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">B. Akerlund</div>
                        </div>
                    </div>
                    <div id="index-person-n" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-29.png" alt="">
                        <div class="contact-label">
                            <div class=" pull-right contact-name">Anita First</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</li>
</ul>
</div>