<div class="panel-content gallary-sm">
    <div class="panel-body no-padding">
        <aside class="arrow-down">
            <a class="btn btn-default" href="#moveCarouselOne" onclick="return false" role="button" data-slide="next"><span class="fa fa-angle-down fa-fw fa-2x"></span></a>
        </aside>
        <div id="moveCarouselOne" class="carousel vertical slide" data-interval="4000" data-pause="true">
            <div class="carousel-inner">
                <div class="contact-m1 item active">
                    <div id="detail-person-1" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-1.png" alt="">
                        <div class="contact-label">
                            <div class="label-name">The Hollywood Bowl</div>
                        </div>
                    </div>
                    <div id="detail-person-2" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <img src="static/images/movemoney/person-2.jpg" alt="">
                        <div class="contact-label">
                            <div class="label-name">DSE</div>
                        </div>
                    </div>
                    <div id="detail-person-3" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-3.jpg" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Hollie Stevenson</div>
                        </div>
                    </div>
                    <div id="detail-person-4" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-4.jpg" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">WB</div>
                        </div>
                    </div>
                    <div id="detail-person-5" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-5.jpg" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Kaya Stewart</div>
                        </div>
                    </div>
                    <div id="detail-person-6" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-6.jpg" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">BMG</div>
                        </div>
                    </div>
                    <div id="detail-person-7" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-7.jpg" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Milk Studios</div>
                        </div>
                    </div>
                    <div id="detail-person-8" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-8.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Stevie Nicks</div>
                        </div>
                    </div>
                    <div id="detail-person-9" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-9.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Mike Bradford</div>
                        </div>
                    </div>
                </div>
                <div class="contact-m2 item">
                    <div id="detail-person-10" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-10.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Anoushka</div>
                        </div>
                    </div>
                    <div id="detail-person-11" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-11.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Joss Stone</div>
                        </div>
                    </div>
                    <div id="detail-person-12" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-12.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">DTS</div>
                        </div>
                    </div>
                    <div id="detail-person-13" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-13.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Adobe CC</div>
                        </div>
                    </div>
                    <div id="detail-person-14" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-14.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Chanel</div>
                        </div>
                    </div>
                    <div id="detail-person-15" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-15.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Oakwood</div>
                        </div>
                    </div>
                    <div id="detail-person-16" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-16.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Starbucks</div>
                        </div>
                    </div>
                    <div id="detail-person-17" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-17.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Cole Haddon</div>
                        </div>
                    </div>
                    <div id="detail-person-18" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-18.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">British Airways</div>
                        </div>
                    </div>
                </div>
                <div class="contact-m3 item">
                    <div id="detail-person-19" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-19.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Standard Bank</div>
                        </div>
                    </div>
                    <div id="detail-person-20" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-20.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Morrison Hotel Gallery</div>
                        </div>
                    </div>
                    <div id="detail-person-21" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-21.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">NBC</div>
                        </div>
                    </div>
                    <div id="detail-person-22" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-22.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Premier Parking</div>
                        </div>
                    </div>
                    <div id="detail-person-23" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-23.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Kristin Burns</div>
                        </div>
                    </div>
                    <div id="detail-person-24" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-24.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Jerry Harvey Audio</div>
                        </div>
                    </div>
                    <div id="detail-person-25" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-25.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Chris Champeau</div>
                        </div>
                    </div>
                    <div id="detail-person-26" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-26.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">Division Camera</div>
                        </div>
                    </div>
                    <div id="detail-person-27" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">
                        <a href="#" data-overlay="move"><img src="static/images/movemoney/person-27.png" alt=""></a>
                        <div class="contact-label">
                            <div class="label-name">ProTravel</div>
                        </div>
                    </div>
                </div>
                <!--<div class="contact-m4 item">-->
                <!--<div id="detail-person-28" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">-->
                <!--<a href="#" data-overlay="move"><img src="static/images/movemoney/person-28.png" alt=""></a>-->
                <!--<div class="contact-label">-->
                <!--<div class="label-name">B. Akerlund</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div id="detail-person-29" onclick="replaceTo(this.id)" data-overlay="move" class="nav-move contact-wraper pull-left">-->
                <!--<a href="#" data-overlay="move"><img src="static/images/movemoney/person-29.png" alt=""></a>-->
                <!--<div class="contact-label">-->
                <!--<div class="label-name">Anita First Law Corporation, Inc.</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>