<aside class="close-window close-search-overlay">
    <a href="#"><img src="static/images/art_page/close.png" alt="" /></a>
</aside>
<div class="input-group">
    <div class="input-group-addon">
        <img src="static/images/navbar/icon-search-lg.png" alt="">
    </div>
    <input id="search" class="form-control" autofocus>
</div>
<div class="result" id="search-result"></div>