<aside class="close-window close-search-overlay">
    <a href="#"><img src="static/images/art_page/close.png" alt="" /></a>
</aside>
<div class="row share-group">
    <div class="col-sm-1">
        <img src="static/images/navbar/icon-share-lg.png" alt="">
    </div>
    <div class="col-sm-11">
	    <div class="row">
	    	<div class="col-sm-12">
	    		<div class="btn-group share-buttons">
	    		  <button class="btn btn-default available active">ALL</button>
	    		  <button class="btn btn-default"> <i class="fa fa-envelope-o"></i> </button>
	    		  <button class="btn btn-default available active"> <i class="fa fa-facebook"></i> </button>
	    		  <button class="btn btn-default"> <i class="fa fa-dribbble"></i> </button>
	    		  <button class="btn btn-default"> <i class="fa fa-twitter"></i> </button>
	    		  <button class="btn btn-default available active"> <i class="fa fa-fw"></i> </button>
	    		  <button class="btn btn-default"> <i class="fa fa-flickr"></i> </button>
	    		  <button class="btn btn-default"> <i class="fa fa-tumblr"></i> </button>
	    		  <button class="btn btn-default"> <i class="fa fa-fw"></i> </button>
	    		  <button class="btn btn-default"> <i class="fa fa-vimeo-square"></i> </button>
	    		  <button class="btn btn-default"> <i class="fa fa-fw"></i> </button>
	    		  <button class="btn btn-default"> <i class="fa fa-fw"></i> </button>
	    		  <button class="btn btn-default"> <i class="fa fa-youtube"></i> </button>
	    		  <button class="btn btn-default"> <i class="fa fa-fw"></i> </button>
	    		  <button class="btn btn-default"> <i class="fa fa-linkedin"></i> </button>
	    		  <button class="btn btn-default available"> <i class="fa fa-angle-right"></i> </button>

	    		</div>
	    	</div>
	        <div class="col-sm-12 top-buffer">
	        	<div class="share-block">
	        		<div class="pull-left right-buffer">
	        			<img class="share-content-img" src="static/images/assets/hollie.jpg" alt="">
	        		</div>
	        		<div class="pull-left share-text">
	        			<textarea name="share-content" id="" cols="30" rows="10">Hey, check out Hollie Stephenson Music amazing young singer songwriter from UK. </textarea>
	        			<div class="link">www.fab.us/egestasblanditeratathendrerit</div>
	        			<div class="char-count spending pull-right">250 characters</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
    </div>
</div>
